<div class="jumbotron">
    <div class="container">
        <ul class="list-group">
            {{#each files}}
            <li class="list-group-item">
                <div class="row d-flex">
                    <span class="align-middle ml-3 mt-2">{{this.name}}</span>
                    <div class="ml-auto">
                        <a href="https://ipfs.infura.io/ipfs/{{this.hash}}/{{this.name}}" class="btn btn-primary " download="{{this.name}}">下载</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
