<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <title="MOAC IPFS Demo">
    </head>
    <body>
        <h1>MOAC IPFS</h1>
        </hr>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">文件名:</label>
            <input type="file" name="file" id="file" />
            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/jquery/jquery.slim.min.js" </script>
        <script src="/popperjs/popper.min.js" </script>
        <script src="/bootstrap/js/bootstrap.min.js" </script>
    </body>
</html>
